{% extends 'portfolio/layout.html' %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">
{% endblock %}
{% block header %}
<div class="welcome-text">Blog</div>
{% endblock %}
{% block main %}

{% for post in posts %}
<li>Title: {{ post.title }}
    Author: {{ post.author }}<br>
    {{ post.body|slice:":50" }}<br>
    <small>Created: {{ post.post_date }}</small><br>
    {% if post.post_image %}

    <img src="{{ post.post_image.url }}" style="height: 200px ;width: 200px ">

    {% endif %}
    
    {% if request.user.is_authenticated %}

    <a href="{% url 'portfolio:blog_edit' post.id %}"> Editar </a>

    {% endif %}
</li>
{% endfor %}

{% if request.user.is_authenticated %}
<br>
<hr style="height:5px;border-width:0;background-color:white">
<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'portfolio:blog' %}" class="button">Cancelar</a>
    <input type="submit" class="button" value="Criar">
</form>
<script>

    var name = "{{ user.id }}"
    document.getElementById("user").value = name;

</script>

{% endif %}

{% endblock %}