<!-- home.html -->

{% extends 'portfolio/layout.html' %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'portfolio/css/subject_box.css' %}">
{% endblock %}
{% block header %}
{% load static %}
<div class="welcome-text">Bem vindo ao meu portfolio</div>
<!--<img src="{% static '/portfolio/images/claudio-photo.png' %}" alt="Banner Photo" height="120" width="120"> -->
{% endblock %}
{% block main %}
<div class="home-container">
    <div>
        <img src="{% static '/portfolio/images/hero-image.png' %}" alt="Banner Photo">
    </div>
    <div>
        <h2>Sobre mim:</h2>
        <p>Sou um aluno de engenharia informatica atualmente no segundo ano do curso, gosto de programar e de muitas
            coisas relacionadas ao mundo da
            informatica, isto tudo começou desde novo mas com uma ideia muito abstrata do que era ser um programador, as
            referencias que tinha sobre
            programação vinham de filmes como o matrix e do meu irmão que tambem é programador, agora tenho uma ideia
            muito melhor e adoro o que faço.

        </p>
    </div>
</div>

<div class="subjects-box" style="margin-bottom:30px ;">
    <h1>Competências </h1>
    <div>
        <h1>Java</h1>
        <p>
            Muita gente não gosta de java mas até acho giro
        </p>
    </div>
    <div>
        <h1>Python</h1>
        <p>
            Este projeto ajudou me a gostar de Python
        </p>
    </div>
    <div>
        <h1>CSS</h1>
        <p>
            Odeio Css e sou horrivel pelo o que podem ver
        </p>
    </div>
</div>


<div class="subjects-box" style="margin-bottom:40px ;">
    <h1>Hobbies</h1>
    <div>
        <h1>Jogar</h1>
        <p>
            Os jogos foram a minha porta de entrada para a programação até porque queria fazer jogos agora sei que é
            depressivo
        </p>
    </div>
    <div>
        <h1>Programar</h1>
        <p>
            Gosto de programar mas às vezes tenho muita preguiça e isso é o meu grande defeito
        </p>
    </div>
    <div>
        <h1>Filmes/Series</h1>
        <p>
            Os filmes tambem me inspiraram muito a seguir este caminho alguns dos meus favoritos são: Scarface, 8Mile,
            Matrix, Taxi Driver, GodFather, MR.Robor, Breaking Bad etc...
        </p>
    </div>
    <div>
        <h1>Musica</h1>
        <p>
            Adoro ouvir musica, os meus artistas/bandas favoritos são: Eminem, RadioHead, Nirvana, Capitão Fausto, Dua
            Lipa, Car Seat HeadRest etc...
        </p>
    </div>
</div>

<div class="contacts-container">
    <h2>Contactos:</h2>
    <a href="https://github.com/Culurio"><i class="fa fa-github"
            style="font-size:50px;color:white;padding-left: 20px;"></i></a>
    <a href="https://www.instagram.com/clurio_costa/"><i class="fa fa-instagram"
            style="font-size:50px;color:white;padding-left: 20px;"></i></a>
    <a href="https://www.youtube.com/channel/UCTfTfOQJVHAq2dsGHl4uHyg"><i class="fa fa-youtube-play"
            style="font-size:50px;color:white;padding-left: 20px;"></i></a>
</div>


{% endblock %}