{% extends 'portfolio/layout.html' %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">
{% endblock %}
{% block header %}
<div class="welcome-text">Edit Project</div>
{% endblock %}
{% block main %}
<form action="{% url 'portfolio:project_edit' post_id %}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}

    <a class="button" href="{% url 'portfolio:projetos' %}">Cancelar</a>
    <a class="button" href="{% url 'portfolio:delete_project' post_id %}">Apagar</a>
    <input type="submit" class="button" value="Editar">
</form>
{% endblock %}