{% extends 'portfolio/layout.html' %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/quizz.css' %}">
<link rel="stylesheet" href="{% static 'portfolio/css/subject_box.css' %}">
<script src="{% static 'portfolio/js/weather.js' %}" defer></script>
<script src="{% static 'portfolio/js/random_fact.js' %}" defer></script>
{% endblock %}
{% block header %}
<div class="welcome-text">WEB</div>
{% endblock %}
{% block main %}
<h1><a href="#quizz">Clica para fazeres o quizz</a></h1>
<div class="container">
    <div class="titulo">Tecnologias Usadas</div>
    <ul>
        <h1>Front-End</h1>
        <li><a href="#CSS">CSS</a></li>
        <li><a href="#Js">Javascript</a></li>
        <li><a href="#HTML">HTML</a></li>
    </ul>
    <br>
    <ul>
        <h1>Back-End</h1>
        <li><a href="#Django">Django</a></li>
    </ul>
    <br>
    <ul>
        <h1>Estrutura</h1>
        <li>HOME</li>
        <li>LICENCIATURA</li>
        <li>PROJETOS</li>
        <li>BLOG</li>
        <li>WEB (Estamos aqui)</li>
    </ul>
</div>

<div>
    <div class="titulo">Diagrama DER</div>
    <p>Este diagrama não representa o site é só para ocupar espaço</p>
    <img src="{% static '/portfolio/images/diagrama-fake.png' %}" alt="Fake diagrame">
</div>


<div class="subjects-box">
    <h1>FRONT-END</h1>
    <div>
        <h1>CSS</h1>
        <p id="CSS">
            Cascading Style Sheets is a style sheet language used for describing the
            presentation of a document written in a markup language such as HTML.
        </p>
    </div>
    <div>
        <h1>HTML</h1>
        <p id="HTML">
            The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed
            in a web browser.
        </p>
    </div>
    <div>
        <h1>Javascript</h1>
        <p id="Js">
            JavaScript, often abbreviated JS, is a programming language that is one of the core technologies of the
            World Wide Web,
            alongside HTML and CSS.
        </p>
    </div>
</div>
<br>
<div class="subjects-box">
    <h1>BACK-END</h1>
    <div>
        <h1>Django</h1>
        <p id="Django">
            Django is a Python-based web framework, free and open-source, that follows the model–template–views
            architectural pattern.
        </p>
    </div>
</div>

<br>

<div class="subjects-box">
    <h1>API</h1>
    <div>
        <h1>Temperatura Maxima: <span id="max_temp">00.0</span></h1>
        <h1>Temperatura Minima: <span id="min_temp">00.0</span></h1>
    </div>
    <div>
        <h1>Facto do dia:
            <span id="fact"></span>
        </h1>
    </div>
</div>
<div style="margin-bottom: 100px ;">
    <br id="quizz">
</div>

<form method="POST" action="quizz">
    {% csrf_token %}
    <fieldset>
        <legend>Info do usuário</legend>
        <p>Nome: <input type="text" id="user_fname" name="user_fname" required></p>
        <p>Apelido: <input type="text" id="user_lname" name="user_lname" required></p>
        <p>Email: <input type="text" id="email" name="email" required></p>
    </fieldset>

    <fieldset>
        <legend>Perguntas</legend>
        <p>Quem fez esta pagina ?<br>
            <input type="radio" id="claudio" name="creator_name" value="claudio">
            <label for="claudio">Cláudio Costa</label>
            <input type="radio" id="cristiano" name="creator_name" value="cristiano">
            <label for="cristiano">Cristiano Ronaldo</label>
            <input type="radio" id="krika" name="creator_name" value="krika">
            <label for="krika">Krika</label>
        </p>

        <fieldset>
            <label for="date">Cidade do criador da pagina</label><br>
            <input type="text" id="cname" placeholder="PSST é o barreiro"><br>

            <label for="framework">Nome da Framework utilizada</label><br>
            <input type="text" id="framework" name="framework"><br>

            <label for="page_color">Escolhe a cor desta pagina</label><br>
            <input type="color" id="page_color" name="page_color" value="#f6b73c"><br>

            <label for="barra">Quanto gostas desta pagina:</label><br>
            <input type="range" id="barra" name="barra" min="0" max="10"><br>

            <input type="submit" value="Submit">
        </fieldset>
</form>
<br>

{% if quizz is null %}
{% load static %}
<img src="{% static 'portfolio/images/grafico.png' %}">
{% endif %}
{% endblock %}